body {
  padding-top: 40px;
}
#pageContainer {
  padding: 40px 15px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#loginError {
	color: #ff0000;
}

.slideThumb {
	cursor: ns-resize;
	height: 115px;
}

#startupLoader {
	position: absolute;
	left: 50%;
	top: 50%;
}
	

thead>tr {
	color: #ffffff;
	background-color: #428bca;
}

hidden {
	display: none;
}

.fieldRow {
	height: auto;
}

.fieldPreview {
	height: 115px;
	width: 200px;
	float: left;
}

.fieldPreview img {
	max-height: 115px;
	max-width: 200px;
}

.fieldValues {
	margin-left: 2px;
	float: left;
}

.fieldClear {
	clear: both;
}

.uploading {
	display: none;
	position: relative;
	bottom: 30px;
	width: 200px;
	text-align: center;
	background: #555555;
	color: #ffffff;
}

.btn {
	margin-right: 5px;
}

.days {
	margin-right: 8px;
}

.datepicker {
	z-index: 5000;
}

.form-style {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}